<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <title>OCR Albaranes</title>
    <link rel="stylesheet" href="/static/css/styles.css"/>
</head>
<body>
    <div class="container">
        <h1>Procesar Albaranes PDF</h1>
        <!-- Selector de carpeta entera -->
        <input type='file' id="fileInput" webkitdirectory directory multiple />
        <button id="'processBtn">Procesar ahora</button>
        <button id="configScheduleBtn">Configurar automatización</button>
        <div id="log"></div>
    </div>
    <script src="/static/js/app.js"></script>
</body>
</html>
